@import "./Variables.scss";

.Flashcards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .percentage {
    font-weight: bold;
  }

  .flashcard-header {
    font-size: 2rem;
  }

  .flashcard-info {
    text-align: left;
  }

  .answer {
    p {
      font-size: 1.2rem;
      font-style: italic;
    }
  }

  .card-count {
    margin-top: 15px;
  }

  .quality-buttons {
    display: flex;
    gap: 10px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .quality-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
  }

  /* Pastel red to pastel green gradient for the circles */
  .quality-0 {
    background-color: #f8d7da;
  } /* Pastel red */
  .quality-1 {
    background-color: #f9e0b7;
  } /* Pastel orange */
  .quality-2 {
    background-color: #fce5cd;
  } /* Pastel yellow */
  .quality-3 {
    background-color: #d9ead3;
  } /* Pastel green-yellow */
  .quality-4 {
    background-color: #c9e7d9;
  } /* Light pastel green */
  .quality-5 {
    background-color: #b7e5cb;
  } /* Pastel green */
}
